#backgroundLogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/BackgroundLogin.jpg);
    background-position: 30% 45%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#caixaLogin{
    background-color: #ffffff73;
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-shadow: 12px 18px 26px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 18px 26px -7px rgba(0,0,0,0.75);
    box-shadow: 12px 18px 26px -7px rgba(0,0,0,0.75);
}
.inputLogin{
    position: relative;
    margin-bottom: 20px;
    width: 70%;
    border-radius: 5px;
    -webkit-box-shadow: 1px 29px 57px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 29px 57px -19px rgba(0,0,0,0.75);
    box-shadow: 1px 29px 57px -19px rgba(0,0,0,0.75);
}
.inputLogin button{

}
.inputLogin input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #379237;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #379237;
    outline: none;
    background: transparent;
    margin: 5px;
}
.inputLogin label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #379237;
    pointer-events: none;
    transition: .5s;
    font-weight: bolder;
    margin: 5px;
}
.inputLogin input:focus~label, .inputLogin input:valid~label{
    top: -20px;
    left:0;
    color: #379237;
    font-size: 12px;
} 