#mobileNavBar{display: none;}
#navBar{
    width: 100vw;
    height: 50px;
    background-color: #82CD47;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navLink{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navLink ~ .navLink{
    border-left:1px solid #F0FF42;
}
.navLink span{
    margin-left: 5px;
}
.navLink:hover{
    background-color: #379237;
    transition: all;
    transition-duration: 1s;
}

@media (max-width: 700px){
    #mobileNavBar{
        width: 100vw;
        height: 50px;
        background-color: #82CD47;
        display: grid;
        justify-content: end;
        color: #FFF;
        align-content: center;
        padding-right: 15px;
        z-index: 999;
    }
    #navBar{
        width: 100vw;
        height: 100%;
        background-color: #82CD47;
        flex-direction: column;
        z-index: 99;
    }
}